{% extends 'base.html' %}

{% block content %}

<table id="table-id" class="table table-hover table-bordered text-center">
    <thead>
    <tr class="text-center">

        <th>Date ordered</th>
          <th>Country</th>
        <th>State</th>
        <th>City</th>
        <th>Track</th>
        <th>Check</th>

      </tr>
        </thead>
      {% for order in my_orders %}
        {% for item in order.items.all %}
        <tr>
          <td>{{ order.date_ordered }}</td>
          <td>{{ item.product.country }}</td>
          <td>{{ item.product.state }}</td>
          <td>{{ item.product.city }}</td>
          <td>{{ item.product.number_track }}
              <a href="{% url 'accounts:copy_item' item.id %}" data-balloon="remove this item from cart" class="text-danger" onclick="return confirm_copy();">
                <i class="fas fa-copy"></i>
              </a>
          </td>
          <td><a href="https://www.fedex.com/fedextrack/?trknbr={{ item.product.number_track }}" target="_blank" class="btn btn-warning" style="float:right; margin:18px;background-color:white;">Check</a></td>

        </tr>
        {% endfor %}
      {% empty %}
        <tr>
          <td colspan= 6> You have no orders.</td>
        </tr>
      {% endfor %}
        <thead>
      <tr>
        <td colspan=6>
          <a href="{% url 'products:product-list' %}" class="btn btn-warning pull-left">
            {% if not order %}Continue Shopping{% else %}Add Items to Cart {% endif %}
          </a> 
        </td>
      </tr>
    </thead>
    </table>

{% endblock content %}