{% extends 'base.html' %}

{% block content %}

<table class="table table-hover table-bordered text-center">
      <tr class="text-center">
        <th>Date ordered</th>
        <th>State</th>
        <th>City</th>
        <th>Track</th>
      </tr>
      {% for order in my_orders %}
        {% for item in order.items.all %}
        <tr>
          <td>{{ order.date_ordered }}</td>
          <td>{{ item.product.state }}</td>
          <td>{{ item.product.city }}</td>
          <td>{{ item.product.number_track }}</td>
        </tr>
        {% endfor %}
      {% empty %}
        <tr>
          <td colspan= 4> You have no orders.</td>
        </tr>
      {% endfor %}

      <tr>
        <td colspan=4>
          <a href="{% url 'products:product-list' %}" class="btn btn-warning pull-left">
            {% if not order %}Continue Shopping{% else %}Add Items to Cart {% endif %}
          </a> 
        </td>
      </tr>
    </table>

{% endblock content %}